<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://use.typekit.net/nzt2fyd.css">



    <title>Music News Scraper</title>
    <script src="https://code.jquery.com/jquery.js"></script>

</head>
{{{body}}}
<script src="/js/handlebars.js"> </script>

</html>